* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: #fff;
    color: #060c31;
}

.page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/*Header*/

.top {
    width: 100%;
    margin: 30px 0;
    overflow: hidden;
}

.main_title {
    float: left;
    font-family: 'Crete Round', monospace;
    font-style: normal;
    font-size: 34px;
    font-weight: 400;
    color: #060c31;
}

.menu {
    float: right;
    list-style: none;
}

.menu_item {
    list-style: none;
}

.menu_link {
    font-family:'Lato Bold', sans-serif;
    text-decoration: none;
    color: #060c31;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    line-height: 32px;
}

.btn {
    display: inline-block;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.create_button {
    border: 1px solid #f99;
    color: #000;
    background: transparent;
}

.create_button:hover {
    background: #ffe6e6;
}

.started_button {
    background: #233fe1;
    color: #fff;
}

.started_button:hover {
    background: #334ef5;
}

/*Content*/

.content {
    overflow: hidden;
    padding: 90px 60px 90px 10px;
}

.text_block {
    float: left;
    width: 50%;
    padding-left: 50px;
    margin-top: 40px;
}

.image_wrapper {
    float: right;
    width: 45%;
    text-align: right;
    margin-top: 0px;
}

.image_wrapper img {
    max-width: 120%;
    height: auto;
    vertical-align: middle;
    
}

.header {
    font-family: 'Crete Round', monospace;
    font-style: normal;
    font-size: 58px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 25px;
    color:#060c31;
}

.description {
    font-family: 'Lato Regular',sans-serif;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 25px;
    color:#060c31;
}

.btn {
    line-height: 25px;
    margin-right: 15px;
}

/*Footer*/

.logos {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 60px 0 40px;
    vertical-align: middle;
}

.logos img {
    float: right;
    max-height: 30px;
    margin: 0 20px;
    opacity: 0.35;
    filter: grayscale(100%);
}

.clear {
    clear: both;
}
